/**
 * @name frosted-glass-PINK
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me
*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/base.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
  --background-image: url('https://i.imgur.com/kOHqtLa.jpg');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.75;
  --gradient-primary: 204,115,201;
  --gradient-secondary: 249,206,225;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --link-colour: #fcd0e1;
  --gradient-direction: 320deg;
  --tint-colour: 243,193,204;
  --tint-brightness: 0.28;
  --font: 'Varela Round';
  --window-padding: undefinedpx;
  --window-roundness: undefinedpx;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #9bd09d;
  --rs-idle-color: #edc074;
  --rs-dnd-color: #e77c7c;
  --rs-offline-color: #8c96a3;
  --rs-streaming-color: #8468b3;
  --rs-invisible-color: #747f8d;
}